.container {
  text-align: center;
}
.form {
  margin-top: 10px;
}
.block {
  text-align: left;
  margin-top: 15px;
}
.blockTitle {
  margin-bottom: 10px;
}
.inputError {
  border-color: var(--danger-red);
}
.error {
  margin-top: 5px;
}
.button {
  padding: 10px 15px;
  font-size: 16px;
  margin-top: 10px;
}

.addedTitle {
  margin-top: 40px;
}
